importFrom("stats", "na.omit")
importFrom("utils", "capture.output", "str", "unzip", "zip", "installed.packages", "packageDescription")
import(httr)
import(jsonlite)
import(RProtoBuf)
import(Rserve)
import(RestRserve)
import(yaml)
export(compose, push, auth, composeFromSource, pushFromSource)
