importFrom("stats", "na.omit")
importFrom("utils", "capture.output", "str", "unzip", "zip", "installed.packages", "packageDescription")
importFrom("jsonlite", "fromJSON", "toJSON")
importFrom("RProtoBuf", "P","readProtoFiles")
importFrom("yaml", "write_yaml")
import(httr)
import(Rserve)
import(RestRserve)
export(compose, push, auth, composeFromSource, pushFromSource)
